<ul class="nav nav-tabs pt-4">
  <li class="nav-item">
    <a class="nav-link {% if page == 'account' %}active{% endif %}" href="/account">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page == 'account-history' %}active{% endif %}" href="/account/history">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page == 'account-saved' %}active{% endif %}" href="/account/saved">Saved</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page == 'account-settings' %}active{% endif %}" href="/account/settings">Settings</a>
  </li>
</ul>

