{{ include('header.html') }}
<div class="container">
  <div class="row">
    {{ include('admin-nav.html') }}
    <div class="col-sm-9 col-md-10 pt-3">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Product</th>
            <th width="10%"></th>
            <th width="10%"></th>
          </tr>
        </thead>
        <tbody>
          {% for product in stuff.products %}
          <tr>
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.title }}</td>
            <td>
              <form method="post">
                <input type="hidden" name="CSRFName" value="{{ stuff.CSRFName }}">
                <input type="hidden" name="CSRFToken" value="{{ stuff.CSRFToken }}">
                <input type="hidden" name="action" value="editproduct">
                <input type="hidden" name="product" value="{{ product.id }}">
                <input type="submit" class="btn btn-secondary btn-sm" role="button" aria-disabled="true" value="Edit"></input>
              </form>
            </td>
            <td>
              <form method="post">
                <input type="hidden" name="CSRFName" value="{{ stuff.CSRFName }}">
                <input type="hidden" name="CSRFToken" value="{{ stuff.CSRFToken }}">
                <input type="hidden" name="action" value="deleteproduct">
                <input type="hidden" name="product" value="{{ product.id }}">
                <input type="submit" class="btn btn-danger btn-sm" role="button" aria-disabled="true" value="Delete"></input>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{ include('footer.html') }}
