{{ include('header.html') }}
<div class="container mt-auto">
  <div class="row">
    <div class="col-sm">
      <h1 class="title">Forgot Password</h1>
      <form class="form form-login" method="post">
        <input type="hidden" name="CSRFName" value="{{ stuff.CSRFForgotName }}">
        <input type="hidden" name="CSRFToken" value="{{ stuff.CSRFForgotToken }}">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Username or Email" name="login">
        </div>
        <div class="field is-grouped">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{ include('footer.html') }}
