{{ include('header.html') }}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-8 mx-auto px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">Privacy Policy</h1>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cookies are used to store sessions for login and file upload data.</li>
        <li class="list-group-item">All EXIF data is removed from images</li>
        <li class="list-group-item">IP addresses are not logged</li>
        <li class="list-group-item">Only illegal files are forbidden</li>
      </ul>
    </main>
  </div>
</div>
{{ include('footer.html') }}
